<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ServidorCorreo" value="smtp-bb.up.edu.pe"/>
    <add key="CorreoSalidaAdmPre" value="admision@up.edu.pe"/>
    <add key="CorreoEnvioErrores" value="jc.delgadov@up.edu.pe"/>
    <!--<add key="CorreoEnvioErrores" value="admision@up.edu.pe;oficinaadmision@up.edu.pe;gamarra_dr@up.edu.pe;soporteGIIT@up.edu.pe" />-->
    <add key="RutaFisicaFotos" value="\\pr-dfst01\pcampus_fotos$\"/>
    <add key="UrlFotos" value="https://autoservicio.up.edu.pe/pcampus_fotos/"/>
    <add key="RangoMinWFoto" value="20"/>
    <add key="RangoMinHFoto" value="20"/>
    <add key="RangoMaxWFoto" value="20"/>
    <add key="RangoMaxHFoto" value="20"/>
    <add key="AnchoFoto" value="240"/>
    <add key="AltoFoto" value="288"/>
    <add key="ResolucionMinima" value="300"/>
    <add key="PesoMaxFoto" value="50"/>
    <add key="VideoActivo" value="0"/>
    <add key="ServidorSMTP" value="smtp-bb.up.edu.pe"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="500000"/>
    <authentication mode="Windows"/>
    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.web>
    <globalization uiCulture="es" culture="es-PE"/>
    <sessionState timeout="120" mode="InProc" cookieless="false"/>
    <customErrors mode="Off" defaultRedirect="frmMsjeErrorUP.aspx"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSSpringSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="HubHTTP" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sprnet.up.edu.pe/WSSpring/WSSpring.asmx" binding="basicHttpBinding" bindingConfiguration="WSSpringSoap" contract="serviceWSSpring.WSSpringSoap" name="WSSpringSoap"/>
      <endpoint address="http://pr-hubapp:1000/HubService.svc" binding="basicHttpBinding" bindingConfiguration="HubHTTP" contract="UPAdmPre.BL.Proxy.IHubService" name="HubHTTP"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--Para la Compatibilidad con exploradores de versiones anteriores-->
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=10"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!--<mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />-->
      <remove fileExtension=".xyz"/>
      <mimeMap fileExtension=".xyz" mimeType="xml/text"/>
    </staticContent>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>